@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html , body {
     height: 100%;
     font-family: 'Roboto', sans-serif;
     font-size: 14px;
}

a {
    color: white;
}

a:hover {
    border-bottom: 1px solid ;
}

body {
    background: #202124;
    color: white;

}

.container {
    height: 100%;
}

.container .login {
    display: flex;
    flex-direction: row-reverse;
    
    /* background-color: white; */
    padding: 10px;
    
}

.container .login ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .login ul li {
    display: inline-flex; 
    margin: 8px;
}

.container .login ul li a img {
    width: 20px;
    height: 20px;
}

.container .login ul li .img{
    margin-bottom: 4px;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    
} 

.container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    /* background-color: red; */
}


.container .search {
    margin-top: 35px;
}

.container .search .main-search {
    display: flex;
    width: 500px;
    height: 45px;
    margin: 0 auto;
    background: #303134;
    border-radius: 50px;
    border: 1px solid #303134;;
}

.container .search .main-search .search-logo {
    display: flex;
    align-items: center;
    /* margin-right: 10px; */
    margin-left: 15px;

}

.container .search .main-search input {
    width: 400px;
    background: #303134;
    border-radius: 50px;
    border: none;
    font-size: 18px;
}

.container .search .main-search input:focus {
    outline: none;

}


.container .search .main-search .keyboard {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.container .search .main-search .voice-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}

.container .search .main-search .voice-search img {
    width: 24px;
    height: 24px;
}


.container .button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container .button .btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 50px;
    /* background-color: red; */
}

.container .button .btn-1 button{
height: 41px;
border-radius: 5px;
border: none;
width: 150px;
background-color: #303134;
color: white;
font-size: 15px;

}

.container .button .btn-1 button:hover {
    outline: 1px solid #fff;
    cursor: pointer;
}


.container .button .btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    /* background-color: blue; */
}

.container .button .btn-2 button{
color: white;
height: 41px;
border-radius: 5px;
border: none;
width: 250px;
background-color: #303134;
font-size: 15px;

}

.container .button .btn-2 button:hover {
    outline: 1px solid #fff;
    cursor: pointer;
}


.container .footer-oncesi {
    width: 100%;
    height: 100px;
   
}

.container .footer {
    display: flex;
    flex-direction: column;
    
    
}


.container .footer ul li a {
    color: #999;
}

.container .footer .location {
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #999;
}

.container .footer .location span {
    display: block;
    padding: 15px;
}

.container .footer .end .first {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    /* background-color: red; */
}

.container .footer .end .first ul li {
    display: inline;
    padding: 12px;
    margin-top: 3px;
    margin-right: 5px;
    
}



.container .footer .end .first .middle {
    display: flex;
    margin-left: 220px;
    /* background: white; */
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}

.container .footer .end .first .middle ul li  {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container .footer .end .first .last {
    display: flex;
    margin-left: 360px;
    
}

.container .footer .end .first .last ul li a{
display: inline;

}